---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="md:w-[60%] py-6 px-4">
			<article>
				<div>
					<div class="mt-2 mb-8">
						<h1 class="text-wrap">{title}</h1>
						<div class="text-xs md:text-sm py-2 flex justify-end">
							<div>
								เผยแพร่: <FormattedDate date={pubDate} /> 
							</div>
							{ updatedDate &&
								<div>
									, ปรับปรุง: <FormattedDate date={updatedDate} />
								</div>
								
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
