---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="mt-6">
			<h1>ยินดีต้อนรับสู่ {SITE_TITLE}</h1>

			<p class="mt-4">
			เพราะสุขภาพที่ดี คือ รากฐานของชีวิตที่มีความสุข
			</p>

			<p>
			ที่ {SITE_TITLE}เราเชื่อว่าทุกคนมีสิทธิ์ที่จะมีสุขภาพที่ดี และการดูแลสุขภาพไม่ควรเป็นเรื่องยาก เราจึงรวบรวมข้อมูลและเคล็ดลับด้านสุขภาพที่เข้าใจง่าย ครอบคลุมทุกมิติ เพื่อให้คุณสามารถดูแลตัวเองและคนที่คุณรักได้อย่างมั่นใจ
			</p>

			<h3>พบกับเนื้อหาที่หลากหลาย อาทิ</h3>
			<ul class="list-disc list-inside dark:text-gray-400">
				<li>สาระน่ารู้ด้านสุขภาพ: ทำความเข้าใจโรคภัยไข้เจ็บต่าง ๆ พร้อมวิธีป้องกันและดูแลตัวเอง</li>
				<li>เคล็ดลับโภชนาการ: เรียนรู้การเลือกอาหารที่มีประโยชน์และเหมาะสมกับความต้องการของคุณ</li>
				<li>วิธีออกกำลังกายที่ใช่: ค้นหาแนวทางการออกกำลังกายที่สนุกและเหมาะกับไลฟ์สไตล์ของคุณ</li>
				<li>สุขภาพจิต: เติมพลังใจและสร้างสมดุลให้ชีวิตด้วยเคล็ดลับดูแลสุขภาพจิต</li>
				<li>เราพร้อมเคียงข้างคุณทุกย่างก้าว</li>
			</ul>
			
			<p>
			ไม่ว่าคุณจะกำลังมองหาข้อมูลเพื่อดูแลสุขภาพประจำวัน หรือต้องการคำแนะนำในการจัดการกับปัญหาสุขภาพเฉพาะทาง [ชื่อเว็บไซต์ของคุณ] พร้อมเป็นเพื่อนคู่คิดของคุณเสมอ
			</p>

			<p>
			เริ่มต้นดูแลสุขภาพของคุณวันนี้ เพราะสุขภาพของคุณ...สำคัญที่สุด
			</p>
			<p class="text-center">
				{SITE_TITLE}
			</p>
			
		</main>
		<Footer />
	</body>
</html>
